/* App.css */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 100%;
  max-width: 1200px;  /* Ajusta esto si necesitas más ancho */
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

.navbar a {
  color: #007FFF;
  text-decoration: none;
  font-size: 1.2em;
}

.homepage, .text-to-speech, .hotdog-detector {
  width: 100%;
  max-width: 1200px;  /* Asegúrate de que el contenedor principal tenga el mismo ancho */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  font-size: 2.5em;
  color: #007FFF;
  margin-bottom: 40px;
}
